@charset "utf-8";
/* CSS Document */
/* ---------------------CSS Reset----------------------- */
/*body{line-height:1.4;color:gray;font-family:"微软雅黑";font-size: 12px}*/
/*input,textarea,select{font-family:inherit;font-size:100%;}*/
/*body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dt,dd,li,form{ margin:0;color: #333;}*/
/*h4,h5,h6{font-size:12px;}*/
/*h1,h2,h3,h4{font-weight:normal;}*/
/*ul,ol,dl,li{padding-left:0; list-style-type:none;}*/
/*/!*image with no-border*!/*/
/*img{border:0;}*/
/*table { */
    /*border-collapse: collapse; */
    /*border-spacing: 0; */
/*}*/
/*a{ text-decoration:none;}*/
/*input:focus{border: none;}*/

/* ---------------------single CSS----------------------- */
/* display */
.dn{display:none;}.di{display:inline;}.db{display:block;}.dib{display:inline-block;}.dit{display: table-cell;} /* if the element is block level(eg. div, li), using 'inline_any' instead */
/* height */
.h{height:100%;}.h10{height:10px;}.h14{height:14px;}.h16{height:16px;}.h15{ height:15px;}.h18{height:18px;}.h29{height:29px;}.h30{height:30px;}.h40{height:40px;}.h50{height:50px;}.h275{height:275px;}.h20{height:20px;}.h22{height:22px;}.h24{height:24px;}.h45{height:45px;}.h70{height:70px;}.h77{ height:77px;}.h100{height:100px;}.h80{ height:80px;}.h85{ height:85px;}.h92{ height:92px;}.h360{ height:360px;}.h94{ height:94px;}.h196{ height:196px;}.h288{ height:288px;}.h361{ height:361px;}.h400{ height:400px;}.h28{height: 28px;}
/* width */
/* fixed width value */
.w250{width: 250px;}
.w270{width: 270px;}
.w340{width:340px;}
.w{width:100%;}.w20{width:20px;}.w30{width:30px;}.w50{width:50px;}.w65{ width:65px;}.w70{width:70px;}.w72{width:72px;}.w100{width:100px;}.w440{width:440px;}.w930{width:930px;}.w120{width:120px;}.w140{width:140px;}.w160{width:160px;}.w110{width:110px;}.w180{width:180px;}.w200{width:200px;}.w220{width:220px;}.w250{width:250px;}.w280{width:280px;}.w300{width:300px;}.w320{width:320px;}.w360{width:360px;}.w400{width:400px;}.w430{ width:430px}.w450{ width:450px;}.w460{width:460px;}.w500{width:500px;}.w530{ width:530px;}.w600{width:600px;}.w640{width:640px;}.w650{ width:650px;}.w670{ width:670px;}.w690{ width:690px;}.w700{width:700px;}.w960{width:960px;}.wao{ margin:auto;}.w610{ width:610px;}.w143{ width:143px;}.w700{ width:700px;}.w760{ width:760px;}.w850{ width:850px;}.w980{ width:980px;}.w1000{ width:1000px;}.w1250{ width:1250px;}.w1440{width:1440px;}.w336{ width:336px;}.w790{ width:790px;}.w80{ width:80px;}.w380{ width:380px;}.w220{ width:220px;}.w1200{width: 1200px;}.w148{width: 148px;}
/* percent width value */
.pct10{width:10%;}.pct15{width:15%;}.pct20{width:20%;}.pct25{width:25%;}.pct27{ width:27%;}.pct30{width:30%;}.pct33{width:33.3%;}.pct40{width:40%;}.pct50{width:50%;}.pct60{width:60%;}.pct66{width:66.6%;}.pct70{width:70%;}.pct75{width:75%;}.pct80{width:80%;}.pct90{width:90%;}.pct100{width:100%;}
/* line-height */
.lh14{line-height:14px;}.lh16{line-height:16px;}.lh18{line-height:18px;}.lh20{line-height:20px;}.lh22{line-height:22px;}.lh24{line-height:24px;}.lh26{ line-height:26px;}.lh27{ line-height:27px;}.lh30{line-height:30px;}.lh32{line-height:32px;}.lh36{line-height:36px;}.lh38{ line-height:38px;}.lh40{ line-height:40px;}.lh57{line-height:57px;}lh1.2{ line-height:1.2em;}lh1.6{ line-height:1.6em;}
/* margin */
/* margin */
.m1{margin:1px;}.m2{margin:2px;}.m3{margin:3px;}.m4{margin:4px;}.m5{margin:5px;}.m6{margin:6px;}.m7{margin:7px;}.m8{margin:8px;}.m9{margin:9px;}.m10{margin:10px;}
.mt1{margin-top:1px;}.mt2{margin-top:2px;}.mt3{margin-top:3px;}.mt4{margin-top:4px;}.mt5{margin-top:5px;}.mt6{margin-top:6px;}.mt7{margin-top:7px;}.mt8{margin-top:8px;}.mt9{margin-top:9px;}.mt10{margin-top:10px;}.mt11{margin-top:11px;}.mt12{margin-top:12px;}.mt13{margin-top:13px;}.mt14{margin-top:14px;}.mt15{margin-top:15px;}.mt16{margin-top:16px;}.mt17{margin-top:17px;}.mt18{margin-top:18px;}.mt19{margin-top:19px;}.mt20{margin-top:20px;}.mt21{margin-top:21px;}.mt22{margin-top:22px;}.mt23{margin-top:23px;}.mt24{margin-top:24px;}.mt25{margin-top:25px;}.mt26{margin-top:26px;}.mt27{margin-top:27px;}.mt28{margin-top:28px;}.mt29{margin-top:29px;}.mt30{margin-top:30px;}.mt31{margin-top:31px;}.mt32{margin-top:32px;}.mt33{margin-top:33px;}.mt34{margin-top:34px;}.mt35{margin-top:35px;}.mt36{margin-top:36px;}.mt37{margin-top:37px;}.mt38{margin-top:38px;}.mt39{margin-top:39px;}.mt40{margin-top:40px;}.mt41{margin-top:41px;}.mt42{margin-top:42px;}.mt43{margin-top:43px;}.mt44{margin-top:44px;}.mt45{margin-top:45px;}.mt46{margin-top:46px;}.mt47{margin-top:47px;}.mt48{margin-top:48px;}.mt49{margin-top:49px;}.mt50{margin-top:50px;}.mt51{margin-top:51px;}.mt52{margin-top:52px;}.mt53{margin-top:53px;}.mt54{margin-top:54px;}.mt55{margin-top:55px;}.mt56{margin-top:56px;}.mt57{margin-top:57px;}.mt58{margin-top:58px;}.mt59{margin-top:59px;}.mt60{margin-top:60px;}.mt61{margin-top:61px;}.mt62{margin-top:62px;}.mt63{margin-top:63px;}.mt64{margin-top:64px;}.mt65{margin-top:65px;}.mt66{margin-top:66px;}.mt67{margin-top:67px;}.mt68{margin-top:68px;}.mt69{margin-top:69px;}.mt70{margin-top:70px;}.mt71{margin-top:71px;}.mt72{margin-top:72px;}.mt73{margin-top:73px;}.mt74{margin-top:74px;}.mt75{margin-top:75px;}.mt76{margin-top:76px;}.mt77{margin-top:77px;}.mt78{margin-top:78px;}.mt79{margin-top:79px;}.mt80{margin-top:80px;}.mt81{margin-top:81px;}.mt82{margin-top:82px;}.mt83{margin-top:83px;}.mt84{margin-top:84px;}.mt85{margin-top:85px;}.mt86{margin-top:86px;}.mt87{margin-top:87px;}.mt88{margin-top:88px;}.mt89{margin-top:89px;}.mt90{margin-top:90px;}.mt91{margin-top:91px;}.mt92{margin-top:92px;}.mt93{margin-top:93px;}.mt94{margin-top:94px;}.mt95{margin-top:95px;}.mt96{margin-top:96px;}.mt97{margin-top:97px;}.mt98{margin-top:98px;}.mt99{margin-top:99px;}.mt100{margin-top:100px;}.mr1{margin-right:1px;}.mr2{margin-right:2px;}.mr3{margin-right:3px;}.mr4{margin-right:4px;}.mr5{margin-right:5px;}.mr6{margin-right:6px;}.mr7{margin-right:7px;}.mr8{margin-right:8px;}.mr9{margin-right:9px;}.mr10{margin-right:10px;}.mr11{margin-right:11px;}.mr12{margin-right:12px;}.mr13{margin-right:13px;}.mr14{margin-right:14px;}.mr15{margin-right:15px;}.mr16{margin-right:16px;}.mr17{margin-right:17px;}.mr18{margin-right:18px;}.mr19{margin-right:19px;}.mr20{margin-right:20px;}.mr21{margin-right:21px;}.mr22{margin-right:22px;}.mr23{margin-right:23px;}.mr24{margin-right:24px;}.mr25{margin-right:25px;}.mr26{margin-right:26px;}.mr27{margin-right:27px;}.mr28{margin-right:28px;}.mr29{margin-right:29px;}.mr30{margin-right:30px;}.mr31{margin-right:31px;}.mr32{margin-right:32px;}.mr33{margin-right:33px;}.mr34{margin-right:34px;}.mr35{margin-right:35px;}.mr36{margin-right:36px;}.mr37{margin-right:37px;}.mr38{margin-right:38px;}.mr39{margin-right:39px;}.mr40{margin-right:40px;}.mr41{margin-right:41px;}.mr42{margin-right:42px;}.mr43{margin-right:43px;}.mr44{margin-right:44px;}.mr45{margin-right:45px;}.mr46{margin-right:46px;}.mr47{margin-right:47px;}.mr48{margin-right:48px;}.mr49{margin-right:49px;}.mr50{margin-right:50px;}.mr51{margin-right:51px;}.mr52{margin-right:52px;}.mr53{margin-right:53px;}.mr54{margin-right:54px;}.mr55{margin-right:55px;}.mr56{margin-right:56px;}.mr57{margin-right:57px;}.mr58{margin-right:58px;}.mr59{margin-right:59px;}.mr60{margin-right:60px;}.mr61{margin-right:61px;}.mr62{margin-right:62px;}.mr63{margin-right:63px;}.mr64{margin-right:64px;}.mr65{margin-right:65px;}.mr66{margin-right:66px;}.mr67{margin-right:67px;}.mr68{margin-right:68px;}.mr69{margin-right:69px;}.mr70{margin-right:70px;}.mr71{margin-right:71px;}.mr72{margin-right:72px;}.mr73{margin-right:73px;}.mr74{margin-right:74px;}.mr75{margin-right:75px;}.mr76{margin-right:76px;}.mr77{margin-right:77px;}.mr78{margin-right:78px;}.mr79{margin-right:79px;}.mr80{margin-right:80px;}.mr81{margin-right:81px;}.mr82{margin-right:82px;}.mr83{margin-right:83px;}.mr84{margin-right:84px;}.mr85{margin-right:85px;}.mr86{margin-right:86px;}.mr87{margin-right:87px;}.mr88{margin-right:88px;}.mr89{margin-right:89px;}.mr90{margin-right:90px;}.mr91{margin-right:91px;}.mr92{margin-right:92px;}.mr93{margin-right:93px;}.mr94{margin-right:94px;}.mr95{margin-right:95px;}.mr96{margin-right:96px;}.mr97{margin-right:97px;}.mr98{margin-right:98px;}.mr99{margin-right:99px;}.mr100{margin-right:100px;}.mb1{margin-bottom:1px;}.mb2{margin-bottom:2px;}.mb3{margin-bottom:3px;}.mb4{margin-bottom:4px;}.mb5{margin-bottom:5px;}.mb6{margin-bottom:6px;}.mb7{margin-bottom:7px;}.mb8{margin-bottom:8px;}.mb9{margin-bottom:9px;}.mb10{margin-bottom:10px;}.mb11{margin-bottom:11px;}.mb12{margin-bottom:12px;}.mb13{margin-bottom:13px;}.mb14{margin-bottom:14px;}.mb15{margin-bottom:15px;}.mb16{margin-bottom:16px;}.mb17{margin-bottom:17px;}.mb18{margin-bottom:18px;}.mb19{margin-bottom:19px;}.mb20{margin-bottom:20px;}.mb21{margin-bottom:21px;}.mb22{margin-bottom:22px;}.mb23{margin-bottom:23px;}.mb24{margin-bottom:24px;}.mb25{margin-bottom:25px;}.mb26{margin-bottom:26px;}.mb27{margin-bottom:27px;}.mb28{margin-bottom:28px;}.mb29{margin-bottom:29px;}.mb30{margin-bottom:30px;}.mb31{margin-bottom:31px;}.mb32{margin-bottom:32px;}.mb33{margin-bottom:33px;}.mb34{margin-bottom:34px;}.mb35{margin-bottom:35px;}.mb36{margin-bottom:36px;}.mb37{margin-bottom:37px;}.mb38{margin-bottom:38px;}.mb39{margin-bottom:39px;}.mb40{margin-bottom:40px;}.mb41{margin-bottom:41px;}.mb42{margin-bottom:42px;}.mb43{margin-bottom:43px;}.mb44{margin-bottom:44px;}.mb45{margin-bottom:45px;}.mb46{margin-bottom:46px;}.mb47{margin-bottom:47px;}.mb48{margin-bottom:48px;}.mb49{margin-bottom:49px;}.mb50{margin-bottom:50px;}.mb51{margin-bottom:51px;}.mb52{margin-bottom:52px;}.mb53{margin-bottom:53px;}.mb54{margin-bottom:54px;}.mb55{margin-bottom:55px;}.mb56{margin-bottom:56px;}.mb57{margin-bottom:57px;}.mb58{margin-bottom:58px;}.mb59{margin-bottom:59px;}.mb60{margin-bottom:60px;}.mb61{margin-bottom:61px;}.mb62{margin-bottom:62px;}.mb63{margin-bottom:63px;}.mb64{margin-bottom:64px;}.mb65{margin-bottom:65px;}.mb66{margin-bottom:66px;}.mb67{margin-bottom:67px;}.mb68{margin-bottom:68px;}.mb69{margin-bottom:69px;}.mb70{margin-bottom:70px;}.mb71{margin-bottom:71px;}.mb72{margin-bottom:72px;}.mb73{margin-bottom:73px;}.mb74{margin-bottom:74px;}.mb75{margin-bottom:75px;}.mb76{margin-bottom:76px;}.mb77{margin-bottom:77px;}.mb78{margin-bottom:78px;}.mb79{margin-bottom:79px;}.mb80{margin-bottom:80px;}.mb81{margin-bottom:81px;}.mb82{margin-bottom:82px;}.mb83{margin-bottom:83px;}.mb84{margin-bottom:84px;}.mb85{margin-bottom:85px;}.mb86{margin-bottom:86px;}.mb87{margin-bottom:87px;}.mb88{margin-bottom:88px;}.mb89{margin-bottom:89px;}.mb90{margin-bottom:90px;}.mb91{margin-bottom:91px;}.mb92{margin-bottom:92px;}.mb93{margin-bottom:93px;}.mb94{margin-bottom:94px;}.mb95{margin-bottom:95px;}.mb96{margin-bottom:96px;}.mb97{margin-bottom:97px;}.mb98{margin-bottom:98px;}.mb99{margin-bottom:99px;}.mb100{margin-bottom:100px;}.ml1{margin-left:1px;}.ml2{margin-left:2px;}.ml3{margin-left:3px;}.ml4{margin-left:4px;}.ml5{margin-left:5px;}.ml6{margin-left:6px;}.ml7{margin-left:7px;}.ml8{margin-left:8px;}.ml9{margin-left:9px;}.ml10{margin-left:10px;}.ml11{margin-left:11px;}.ml12{margin-left:12px;}.ml13{margin-left:13px;}.ml14{margin-left:14px;}.ml15{margin-left:15px;}.ml16{margin-left:16px;}.ml17{margin-left:17px;}.ml18{margin-left:18px;}.ml19{margin-left:19px;}.ml20{margin-left:20px;}.ml21{margin-left:21px;}.ml22{margin-left:22px;}.ml23{margin-left:23px;}.ml24{margin-left:24px;}.ml25{margin-left:25px;}.ml26{margin-left:26px;}.ml27{margin-left:27px;}.ml28{margin-left:28px;}.ml29{margin-left:29px;}.ml30{margin-left:30px;}.ml31{margin-left:31px;}.ml32{margin-left:32px;}.ml33{margin-left:33px;}.ml34{margin-left:34px;}.ml35{margin-left:35px;}.ml36{margin-left:36px;}.ml37{margin-left:37px;}.ml38{margin-left:38px;}.ml39{margin-left:39px;}.ml40{margin-left:40px;}.ml41{margin-left:41px;}.ml42{margin-left:42px;}.ml43{margin-left:43px;}.ml44{margin-left:44px;}.ml45{margin-left:45px;}.ml46{margin-left:46px;}.ml47{margin-left:47px;}.ml48{margin-left:48px;}.ml49{margin-left:49px;}.ml50{margin-left:50px;}.ml51{margin-left:51px;}.ml52{margin-left:52px;}.ml53{margin-left:53px;}.ml54{margin-left:54px;}.ml55{margin-left:55px;}.ml56{margin-left:56px;}.ml57{margin-left:57px;}.ml58{margin-left:58px;}.ml59{margin-left:59px;}.ml60{margin-left:60px;}.ml61{margin-left:61px;}.ml62{margin-left:62px;}.ml63{margin-left:63px;}.ml64{margin-left:64px;}.ml65{margin-left:65px;}.ml66{margin-left:66px;}.ml67{margin-left:67px;}.ml68{margin-left:68px;}.ml69{margin-left:69px;}.ml70{margin-left:70px;}.ml71{margin-left:71px;}.ml72{margin-left:72px;}.ml73{margin-left:73px;}.ml74{margin-left:74px;}.ml75{margin-left:75px;}.ml76{margin-left:76px;}.ml77{margin-left:77px;}.ml78{margin-left:78px;}.ml79{margin-left:79px;}.ml80{margin-left:80px;}.ml81{margin-left:81px;}.ml82{margin-left:82px;}.ml83{margin-left:83px;}.ml84{margin-left:84px;}.ml85{margin-left:85px;}.ml86{margin-left:86px;}.ml87{margin-left:87px;}.ml88{margin-left:88px;}.ml89{margin-left:89px;}.ml90{margin-left:90px;}.ml91{margin-left:91px;}.ml92{margin-left:92px;}.ml93{margin-left:93px;}.ml94{margin-left:94px;}.ml95{margin-left:95px;}.ml96{margin-left:96px;}.ml97{margin-left:97px;}.ml98{margin-left:98px;}.ml99{margin-left:99px;}.ml120{margin-left:120px;}.ml100{margin-left:100px;}.mt150{margin-top:150px;}.mt200{margin-top:200px;}
/* margin negative */
.ml-1{margin-left:-1px;}.mr-1{margin-right:-1px;}.mt-1{margin-top:-1px;}.mt-10{margin-top:-10px;}.mb-1{margin-bottom:-1px;}.ml-3{margin-left:-3px;}.mb-40{margin-bottom:40px;}.mr-3{margin-right:-3px;}.mt-3{margin-top:-3px;}.mb-3{margin-bottom:-3px;}.ml-20{margin-left:-20px;}.mr-20{margin-right:-20px;}.mt-20{margin-top:-20px;}.mb-20{margin-bottom:-20px;}.mr96{ margin-right:96px;}
/* padding */
.p0{padding:0;}.p1{padding:1px;}.pl1{padding-left:1px;}.pt1{padding-top:1px;}.pt20{padding-top:20px;}.pt50{ padding-top:50px;}.pt75{ padding-top:75px;}.pr1{padding-right:1px;}.pb1{padding-bottom:1px;}.p2{padding:2px;}.pl2{padding-left:2px;}.pt2{padding-top:2px;}.pr2{padding-right:2px;}.pb2{padding-bottom:2px;}.pl5{padding-left:5px;}.p5{padding:5px;}.pt5{padding-top:5px;}.pr5{padding-right:5px;}.pb5{padding-bottom:5px;}.p10{padding:10px;}.pl10{padding-left:10px;}.pb30{ padding-bottom:30px;}.pt66{ padding-top:66px;}.pb27{ padding-bottom:27px;}
.pt10{padding-top:10px;}.pt35{ padding-top:35px;}.pr10{padding-right:10px;}.pb10{padding-bottom:10px;}.p15{padding:15px;}.pl15{padding-left:15px;}.pt15{padding-top:15px;}.pr15{padding-right:15px;}.pb15{padding-bottom:15px;}.p20{padding:20px;}.pl20{padding-left:20px;}.pl70{ padding-left:70px;}.lh0{padding-top:20px;}.pr20{padding-right:20px;}.pb20{padding-bottom:20px;}.p30{padding:30px;}.pl30{padding-left:30px;}.pl35{ padding-left:35px;}.pt30{padding-top:30px;}.pr30{padding-right:30px;}.pt38{padding-top:38px;}.pb30{padding-bottom:30px;}.pt90{padding-top:90px;}.pl25{ padding-left:25px}.pb9{ padding-bottom:9px;}.pb45{ padding-bottom:45px;}.pl24{ padding-left:24px;}.pr24{ padding-right:24px;}.pb16{ padding-bottom:16px;}.pr6{ padding-right:6px;}.pb35{ padding-bottom:35px;}.pr25{ padding-right:25px;}
/* border-color name rule: border(b)-position(l/r/t/b/d)-width(null/2)-style(null/sh)-color(first one letter/first two letter) |-> All colors are safe color*/
.bdc{border:1px solid #ccc;}.blc{border-left:1px solid #ccc;}.brc{border-right:1px solid #ccc;}.btc{border-top:1px solid #ccc;}.bbc{border-bottom:1px solid #ccc;}.bdd{border:1px solid #ddd;}.bld{border-left:1px solid #ddd;}
.brd{border-right:1px solid #ddd;}.btd{border-top:1px solid #ddd;}.bbd{border-bottom:1px solid #ddd;}.bde{border:1px solid #eee;}.ble{border-left:1px solid #eee;}.bre{border-right:1px solid #eee;}.bte{border-top:1px solid #eee;}.bbe{border-bottom:1px solid #eee;}
/* background-color name rule: bg - (key word/Hex color) |-> All colors are safe color */
.bgwh{background-color:#fff;}.bge6e6e6{ background: #e6e6e6}.bgfb{background-color:#fbfbfb;}.bgf5{background-color:#f5f5f5;}.bgf0{background-color:#f0f0f0;}.bgeb{background-color:#ebebeb;}.bge0{background-color:#ccc;}.bge62129{background:#e62129}
/* safe color */
.g0{color:#000;}.g3{color:#333;}.g4{color:#444;}.ga17523{color: #a17523}.gff6600{color: #ff6600}.g6{color:#666;}.gcc9900{color: #cc9900}.gbc9957{color: #bc9957}.gc7a567{color:#c7a567}.gbd955a{color: #bd955a}.g9{color:#999;}.gc{color:#ccc;}.wh{color:white;}.g4{ color:#444;}.g9{ color:#999;}.gb{ color:#bbb;}.gf{ color:#fff;}.g1d8400{ color: #1d8400}.gca2c25{color: #ca2c25}.gff0000{color: #ff0000}.g05c7b7{color: #05c7b7}.g188401{color:#188401}.gf4a205{color: #f4a205}.ge62129{color: #e62129}.g0c6de5{color: #0c6de5;}.g0061c5{color: #0061c5;}.g117eee{color:#117eee}.g64a01e{color: #64a01e;}
/* font-size */
.f0{font-size:0;}.f10{font-size:10px;}.f12{font-size:12px;}.f13{font-size:13px;}.f14{font-size:14px;}.f15{font-size:15px;}.f16{font-size:16px;}.f18{font-size:18px;}.f20{font-size:20px;}.f24{font-size:24px;}.f52{font-size:52px;}.f30{font-size:30px;}.f35{ font-size:35px;}.f36{ font-size:36px;}.f52{ font-size:52px;}.f50{ font-size:50px;}.f100{ font-size:100px;}
/* font-family */
.fa{font-family:Arial;}.ft{font-family:Tahoma;}.fv{font-family:Verdana;}.fs{font-family:Simsun;}.fl{font-family:'Lucida Console';}.fw{font-family:'Microsoft Yahei';}.fmo{font-family: 'Monda'}.fw .dvs{width:50%; float:right; position:absolute; margin-top:-350px; left:450px;}
/* font-style */
.n{font-weight:normal; font-style:normal;}.b{font-weight:bold;}.i{font-style:italic;}.fw600{ font-weight:600;}.fw100{ font-weight:100;}.fw700{ font-weight:700;}
/* text-align */
.tc{text-align:center;}.tr{text-align:right;}.tl{text-align:left;}.tj{text-align:justify;}
/* text-decoration */
.tdl{text-decoration:underline;}.tdn,.tdn:hover,.tdn a:hover,a.tdl:hover{text-decoration:none;}
/* letter-spacing */
.lt-1{letter-spacing:-1px;}.lt0{letter-spacing:0;}.lt1{letter-spacing:1px;}
/* white-space */
.nowrap{white-space:nowrap;}
/* word-wrap */
.bk{word-wrap:break-word;}
/* vertical-align */
.vm{vertical-align:middle;}.vtb{vertical-align:text-bottom;}.vb{vertical-align:bottom;}.vt{vertical-align:top;}.vn{vertical-align:-2px;}
/* float */
.l{float:left;}.r{float:right;}
/* clear */
.cl{clear:both;}
/* position */
.rel{position:relative;}.abs{position:absolute;}
/*z-index*/
.zx1{z-index:1;}.zx2{z-index:2;}.zx3{z-index:3;}
/* cursor */
.poi{cursor:pointer;}.def{cursor:default;}
/* overflow */
.ovh{overflow:hidden;}.ova{overflow:auto;}
/* visibility */
.vh{visibility:hidden;}.vv{visibility:visible;}
/* zoom */
.z{*zoom:1;}


/* ------------------- multiply CSS ------------------ */
/* 块状元素水平居中 */
.auto{margin-left:auto; margin-right:auto;}
/* 清除浮动*/
.fix{*zoom:1;}.fix:after{display:table; content:''; clear:both;}
/* 基于display:table-cell的自适应布局 */
.cell{display:table-cell; *display:inline-block; width:2000px; *width:auto;}
/* 双栏自适应cell部分连续英文字符换行 */
.cell_bk{display:table; width:100%; table-layout:fixed; word-wrap:break-word;}
/* 单行文字溢出虚点显 示*/
.ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
/* css3过渡动画效果 */
.trans{
    -webkit-transition:all 0.3s;    
            transition:all 0.3s;
}
/* 大小不定元素垂直居中 */
.dib_vm{display:inline-block; width:0; height:100%; vertical-align:middle;}
/* 加载中背景图片 - 如果您使用该CSS小库，务必修改此图片地址 
.loading{background:url() no-repeat center;}*/
/* 无框文本框文本域 */.bd_none{border:0; outline:none;}
/* 绝对定位隐藏 */
.abs_out{position:absolute; left:-999em; top:-999em;}
.abs_clip{position:absolute; clip:rect(0 0 0 0);}
/* 按钮禁用 */
.disabled{color:#acacac!important; border-color:#acacac!important; text-shadow:1px 1px #fff!important; outline:0!important; cursor:default!important; pointer-events:none;}
.disabled:hover{text-decoration:none!important;}
/*inline-block与float等宽列表*/
.inline_box{font-size:1em; letter-spacing:-.25em; font-family:Arial;}
.inline_two, .inline_three, .inline_four, .inline_five, .inline_six, .inline_any{display:inline-block; *display:inline; letter-spacing:0; vertical-align:top; *zoom:1;}
.float_two, .float_three, .float_four, .float_five, .float_six{float:left;}
.inline_two, .float_two{width:49.9%;}
.inline_three, .float_three{width:33.3%;}
.inline_four, .float_four{width:24.9%;}
.inline_five, .float_five{width:19.9%;}
.inline_six, .float_six{width:16.6%;}
.inline_fix{display:inline-block; width:100%; height:0; overflow:hidden;}
.yahei{font-family:"微软雅黑";}
.prev_con{ position:relative; z-index:10;}
.top_shad{ width:100%; height:4px; background:url(../images/top_shad.png) repeat-x 0 0; position:absolute; top:-4px; left:0; z-index:15;}
.left_shad{ height:100%; width:4px; background:url(../images/left_shad.png) repeat-y 0 0; position:absolute; top:0; left:-4px; z-index:15;}
.right_shad{height:100%; width:4px; background:url(../images/right_shad.png) repeat-y 0 0; position:absolute; top:0; right:-4px; z-index:15;}
.bottom_shad{width:100%; height:4px; background:url(../images/bottom_shad.png) repeat-x 0 0; position:absolute; bottom:-4px; left:0; z-index:15;}
.fontnor{font-style: normal;}
.yahei{font-family:"微软雅黑";}
.textindent0{text-indent:0}
.textindent0:hover{color:#fff;}

/*模拟下拉菜单*/
/* Dropdown control */
.selectBox-dropdown {
    min-width: 110px;
    height:36px;
    position: relative;
    border: solid 1px #ccc;
    line-height: 36px;
    text-decoration: none;
    text-align: left;
    color: #a2a2a2;
    outline: none;
    vertical-align: middle;
    display: inline-block;
    cursor: default;
    background: #fff;
    font-size: 12px
}

.selectBox-dropdown:focus,
.selectBox-dropdown:focus .selectBox-arrow {
    border-color: #ababab;
}

.selectBox-dropdown.selectBox-menuShowing-bottom {
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.selectBox-dropdown.selectBox-menuShowing-top {
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.selectBox-dropdown .selectBox-label {
    padding: 0px 5px 0 15px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.selectBox-dropdown .selectBox-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 23px;
    height: 100%;
    background: url(../images/jquery.selectBox-arrow.gif) 50% center no-repeat;
    border-left: solid 1px #BBB;
}

/* Dropdown menu */
.selectBox-dropdown-menu {
    position: absolute;
    z-index: 99999;
    max-height: 200px;
    min-height: 1em;
    border: solid 1px #BBB; /* should be the same border width as .selectBox-dropdown */
    background: #FFF;
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/* Inline control */
.selectBox-inline {
    min-width: 150px;
    outline: none;
    border: solid 1px #ababab;
    background: #FFF;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: auto;
}

.selectBox-inline:focus {
    border-color: #ababab;
}

/* Options */
.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A {
    list-style: none;
    display: block;
    cursor: default;
    padding: 0;
    margin: 0;
}

.selectBox-options.selectBox-options-top{
    border-bottom:none;
	margin-top:1px;
	-moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.selectBox-options.selectBox-options-bottom{
	border-top:none;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.selectBox-options LI A {
    line-height: 26px;
    padding: 0 .5em;
    white-space: nowrap;
    overflow: hidden;
    background: 6px center no-repeat;
}

.selectBox-options LI.selectBox-hover A {
    background-color: #EEE;
}

.selectBox-options LI.selectBox-disabled A {
    color: #888;
    background-color: transparent;
}

.selectBox-options LI.selectBox-selected A {
    background-color: #C8DEF4;
}

.selectBox-options .selectBox-optgroup {
    color: #666;
    background: #EEE;
    font-weight: bold;
    line-height: 1.5;
    padding: 0 .3em;
    white-space: nowrap;
}

/* Disabled state */
.selectBox.selectBox-disabled {
    color: #888 !important;
}

.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
    opacity: .5;
    filter: alpha(opacity=50);
    border-color: #666;
}

.selectBox-inline.selectBox-disabled {
    color: #888 !important;
}

.selectBox-inline.selectBox-disabled .selectBox-options A {
    background-color: transparent !important;
}
.selectBox-inline.selectBox-disabled {
    color: #888 !important;
}
.selectBox-inline.selectBox-disabled .selectBox-options A {
    background-color: transparent !important;
}
